@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}
.midas-text {
  background: linear-gradient(
    90deg,
    #f7e1a0 0%,
    #d4af37 40%,
    #ffd966 60%,
    #b8860b 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

/* petite surbrillance diagonale */
.midas-text::after {
  content: "";
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 40%;
  transform: rotate(-20deg);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  mix-blend-mode: overlay;
  opacity: 0.25;
  pointer-events: none;
}
